parameters:
    level: 9  # Start at level 0-5 for existing projects; 9 is strictest
    phpVersion: 80200  # PHP 8.2
    #checkExplicitMixed: false
    #reportUnmatchedIgnoredErrors: false
    #inferPrivatePropertyTypeFromConstructor: true
    paths:
        - models
        - controllers
        - components
        - views
        - helpers
        - widgets
    scanDirectories:
        - common
        - console
        - frontend
    excludePaths:
        - '**/node_modules/*'
        - '**/runtime/*'
        - '**/config/*'
        - '**/tests/*'
        - '**/migrations/*'
        - '**/vendor/*'
        - frontend/views/site/icons.php
        - frontend/web/index.php
        - frontend/web/index-test.php
    # Yii2 often uses undefined properties; this helps ignore those specific errors
    ignoreErrors:
        - '#Access to an undefined property yii\\base\\Component::\$[a-zA-Z0-9_]+#'
        - '#Call to an undefined static method Yii::#'
        - '#Call to static method debug#'
        - '#on an unknown class Yii#'
        - '#has invalid type Yii\\#'
        - '#has invalid return type Yii\\#'
        - '#Constant YII_#'
        - '#Access to an undefined property Ratchet\\ConnectionInterface#'
        - '#Call to an undefined method Ratchet\\ConnectionInterface#'
        - '#Call to an undefined method yii\\#'
        - '#Access to an undefined property yii\\#'
        - '#on an unknown class common\\model#'
        - '#Access to an undefined property __Application|yii\\console\\Application|yii\\web\\Application::\$session.#'
