:root {
    --icon-color: currentColor; /* This will make icons inherit text color */
    --icon-size: 1em;
    --icon-vertical-align: -0.125em;
}

@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
}

.dnd-bad-gnome::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/bad-gnome.svg') no-repeat center center;
    mask: url('icons/draft/bad-gnome.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-barrel::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/barrel-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/barrel-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-basic-silhouette::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/basic-silhouette.svg') no-repeat center center;
    mask: url('icons/draft/basic-silhouette.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-battle::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/battle.svg') no-repeat center center;
    mask: url('icons/draft/battle.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-believer-religion-pray-believe::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/believer-religion-pray-believe-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/believer-religion-pray-believe-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-book-solid::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/book-solid.svg') no-repeat center center;
    mask: url('icons/draft/book-solid.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-bookmark::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/bookmark.svg') no-repeat center center;
    mask: url('icons/draft/bookmark.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-brush::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/brush-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/brush-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-button-choice::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/button-choice-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/button-choice-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-card-pickup::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/card-pickup-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/card-pickup-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-cherish::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/cherish-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/cherish-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-chess-rook::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/chess-rook-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/chess-rook-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-clean-hands::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/clean-hands-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/clean-hands-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-coin-pouch::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/coin-pouch.svg') no-repeat center center;
    mask: url('icons/draft/coin-pouch.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-coins-stacked-on-a-hand-palm::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/coins-stacked-on-a-hand-palm-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/coins-stacked-on-a-hand-palm-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-coins::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/coins-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/coins-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-compress::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/compress-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/compress-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-crossed-swords::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/crossed-swords.svg') no-repeat center center;
    mask: url('icons/draft/crossed-swords.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-crystal-shrine::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/crystal-shrine.svg') no-repeat center center;
    mask: url('icons/draft/crystal-shrine.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-daggers::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/daggers-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/daggers-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-destroy-ruin-wreck-break::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/destroy-ruin-wreck-break-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/destroy-ruin-wreck-break-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-dice::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/dice-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/dice-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-dragon::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/dragon.svg') no-repeat center center;
    mask: url('icons/draft/dragon.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-dungeon-gate::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/dungeon-gate-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/dungeon-gate-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-exit-2::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/exit-2-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/exit-2-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-exit-vector-1::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/exit-vector-1-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/exit-vector-1-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-fall-trip-tumble-go-down::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/fall-trip-tumble-go-down-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/fall-trip-tumble-go-down-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-falling::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/falling-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/falling-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-fist-cross-dictator-bang::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/fist-cross-dictator-bang-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/fist-cross-dictator-bang-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-Flame-Sharp--Streamline-Ionic-Sharp::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/Flame-Sharp--Streamline-Ionic-Sharp.svg') no-repeat center center;
    mask: url('icons/draft/Flame-Sharp--Streamline-Ionic-Sharp.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-gargoyle::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/gargoyle-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/gargoyle-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-ghost::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/ghost-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/ghost-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-gifts::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/gifts-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/gifts-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-goblin-head::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/goblin-head-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/goblin-head-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-guard::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/guard.svg') no-repeat center center;
    mask: url('icons/draft/guard.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hammer-break::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hammer-break-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hammer-break-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-heart-valentine::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-heart-valentine-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-heart-valentine-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-medical::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-medical-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-medical-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-book::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-book-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-book-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-gear::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-gear-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-gear-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-hammer::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-hammer-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-hammer-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-key::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-key-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-key-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-pen::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-pen-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-pen-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-sack-of-money::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-sack-of-money-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-sack-of-money-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-wand::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-wand-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-wand-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-vote-paper::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-vote-paper-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-vote-paper-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-switch::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-switch-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-switch-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-handle-with-care::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/handle-with-care-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/handle-with-care-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hands-helping::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hands-helping-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hands-helping-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hands-praying-solid-full::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hands-praying-solid-full.svg') no-repeat center center;
    mask: url('icons/draft/hands-praying-solid-full.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hatchet::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hatchet-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hatchet-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hood::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hood.svg') no-repeat center center;
    mask: url('icons/draft/hood.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-horse-head::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/horse-head-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/horse-head-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-iying-down::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/iying-down-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/iying-down-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-jumping-dancer::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/jumping-dancer-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/jumping-dancer-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-knight-helmet::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/knight-helmet.svg') no-repeat center center;
    mask: url('icons/draft/knight-helmet.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-knight::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/knight.svg') no-repeat center center;
    mask: url('icons/draft/knight.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-knot::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/knot-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/knot-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-lips-beauty-pretty-sex::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/lips-beauty-pretty-sex-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/lips-beauty-pretty-sex-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-man-doing-pushups::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/man-doing-pushups-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/man-doing-pushups-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-man-jumping-up::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/man-jumping-up-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/man-jumping-up-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-man-lifting-an-old-man::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/man-lifting-an-old-man-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/man-lifting-an-old-man-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-man-riding-a-horse::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/man-riding-a-horse-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/man-riding-a-horse-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-person-praying-solid-full::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/person-praying-solid-full.svg') no-repeat center center;
    mask: url('icons/draft/person-praying-solid-full.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-pirate-flag::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/pirate-flag.svg') no-repeat center center;
    mask: url('icons/draft/pirate-flag.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-potion::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/potion-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/potion-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-praying-hands::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/praying-hands-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/praying-hands-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-read-news-learn-understand-paper::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/read-news-learn-understand-paper-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/read-news-learn-understand-paper-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-reading-a-book-learn-understand-forecast::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/reading-a-book-learn-understand-forecast-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/reading-a-book-learn-understand-forecast-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-robbery::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/robbery-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/robbery-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-robe::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/robe.svg') no-repeat center center;
    mask: url('icons/draft/robe.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-savings-break-down::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/savings-break-down-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/savings-break-down-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-secret-book::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/secret-book-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/secret-book-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-set-kara::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/set-kara-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/set-kara-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-silence-silent::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/silence-silent-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/silence-silent-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-skeleton-16::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/skeleton-16-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/skeleton-16-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-smell::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/smell-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/smell-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-stake-hammer::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/stake-hammer-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/stake-hammer-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-stringed-isntrument-violin-viola-cello::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/stringed-isntrument-violin-viola-cello-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/stringed-isntrument-violin-viola-cello-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-swimmer::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/swimmer-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/swimmer-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-swimming::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/swimming-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/swimming-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-sword-brandish::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/sword-brandish-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/sword-brandish-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-theft-crime-steal-thief::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/theft-crime-steal-thief-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/theft-crime-steal-thief-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-troll::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/troll-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/troll-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-tshirt::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/tshirt-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/tshirt-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-white-book::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/white-book-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/white-book-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-woman-looking-by-a-spyglass::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/woman-looking-by-a-spyglass-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/woman-looking-by-a-spyglass-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-wyvern::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/wyvern-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/wyvern-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-xxclimbing-with-rope::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/xxclimbing-with-rope-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/xxclimbing-with-rope-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-XXXbroadsword::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/XXXbroadsword-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/XXXbroadsword-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-xxxcastle-emblem::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/xxxcastle-emblem-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/xxxcastle-emblem-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-xxxhill-fort::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/xxxhill-fort-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/xxxhill-fort-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-xxxman-playing-a-flute::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/xxxman-playing-a-flute-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/xxxman-playing-a-flute-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-xxxman-sitting-and-reading-book::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/xxxman-sitting-and-reading-book-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/xxxman-sitting-and-reading-book-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-xxxrope-2::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/xxxrope-2-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/xxxrope-2-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-yoga::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/yoga-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/yoga-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-yogi-exercise-yoga-headstand::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/yogi-exercise-yoga-headstand-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/yogi-exercise-yoga-headstand-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-court::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/court-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/court-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-finger-gun::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/finger-gun-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/finger-gun-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-handcuffs::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/handcuffs-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/handcuffs-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-paying-for-college::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/paying-for-college-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/paying-for-college-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-rule::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/rule-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/rule-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-scale::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/scale-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/scale-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-poison::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/poison-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/poison-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-learn::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/learn-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/learn-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-point::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/point-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/point-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-medical-poison::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/medical-poison-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/medical-poison-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-map-library::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/map-library-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/map-library-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-legal-gavel::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/legal-gavel-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/legal-gavel-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}
