:root {
    --icon-color: currentColor; /* This will make icons inherit text color */
    --icon-size: 1em;
    --icon-vertical-align: -0.125em;
}

@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
}

.dnd-bad-gnome::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/bad-gnome.svg') no-repeat center center;
    mask: url('icons/draft/bad-gnome.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-basic-silhouette::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/basic-silhouette.svg') no-repeat center center;
    mask: url('icons/draft/basic-silhouette.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-battle::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/battle.svg') no-repeat center center;
    mask: url('icons/draft/battle.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-book-solid::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/book-solid.svg') no-repeat center center;
    mask: url('icons/draft/book-solid.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-bookmark::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/bookmark.svg') no-repeat center center;
    mask: url('icons/draft/bookmark.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-card-pickup::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/card-pickup-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/card-pickup-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-chess-rook::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/chess-rook-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/chess-rook-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-coin-pouch::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/coin-pouch.svg') no-repeat center center;
    mask: url('icons/draft/coin-pouch.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-coins-stacked-on-a-hand-palm::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/coins-stacked-on-a-hand-palm-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/coins-stacked-on-a-hand-palm-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-coins::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/coins-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/coins-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-compress::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/compress-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/compress-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-crossed-swords::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/crossed-swords.svg') no-repeat center center;
    mask: url('icons/draft/crossed-swords.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-crystal-shrine::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/crystal-shrine.svg') no-repeat center center;
    mask: url('icons/draft/crystal-shrine.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-daggers::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/daggers-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/daggers-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-dice::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/dice-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/dice-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-dragon::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/dragon.svg') no-repeat center center;
    mask: url('icons/draft/dragon.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-dungeon-gate::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/dungeon-gate-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/dungeon-gate-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-falling::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/falling-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/falling-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-gargoyle::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/gargoyle-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/gargoyle-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-ghost::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/ghost-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/ghost-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-gifts::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/gifts-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/gifts-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-goblin-head::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/goblin-head-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/goblin-head-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-guard::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/guard.svg') no-repeat center center;
    mask: url('icons/draft/guard.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-heart-valentine::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-heart-valentine-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-heart-valentine-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-medical::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-medical-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-medical-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-book::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-book-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-book-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-gear::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-gear-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-gear-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-hammer::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-hammer-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-hammer-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-key::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-key-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-key-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-pen::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-pen-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-pen-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-sack-of-money::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-sack-of-money-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-sack-of-money-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-up-a-wand::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-up-a-wand-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-up-a-wand-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-holding-vote-paper::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-holding-vote-paper-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-holding-vote-paper-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hand-switch::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hand-switch-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hand-switch-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-handle-with-care::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/handle-with-care-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/handle-with-care-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hands-helping::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hands-helping-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hands-helping-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hatchet::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hatchet-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/hatchet-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-hood::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/hood.svg') no-repeat center center;
    mask: url('icons/draft/hood.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-horse-head::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/horse-head-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/horse-head-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-iying-down::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/iying-down-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/iying-down-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-knight-helmet::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/knight-helmet.svg') no-repeat center center;
    mask: url('icons/draft/knight-helmet.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-knight::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/knight.svg') no-repeat center center;
    mask: url('icons/draft/knight.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-man-doing-pushups::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/man-doing-pushups-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/man-doing-pushups-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-man-jumping-up::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/man-jumping-up-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/man-jumping-up-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-man-riding-a-horse::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/man-riding-a-horse-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/man-riding-a-horse-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-pirate-flag::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/pirate-flag.svg') no-repeat center center;
    mask: url('icons/draft/pirate-flag.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-potion::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/potion-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/potion-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-praying-hands::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/praying-hands-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/praying-hands-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-robe::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/robe.svg') no-repeat center center;
    mask: url('icons/draft/robe.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-secret-book::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/secret-book-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/secret-book-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-set-kara::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/set-kara-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/set-kara-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-silence-silent::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/silence-silent-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/silence-silent-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-skeleton-16::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/skeleton-16-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/skeleton-16-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-smell::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/smell-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/smell-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-stake-hammer::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/stake-hammer-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/stake-hammer-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-stringed-isntrument-violin-viola-cello::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/stringed-isntrument-violin-viola-cello-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/stringed-isntrument-violin-viola-cello-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-swimmer::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/swimmer-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/swimmer-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-troll::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/troll-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/troll-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-tshirt::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/tshirt-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/tshirt-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-white-book::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/white-book-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/white-book-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-woman-looking-by-a-spyglass::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/woman-looking-by-a-spyglass-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/woman-looking-by-a-spyglass-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-wyvern::before {
    content: """";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('icons/draft/wyvern-svgrepo-com.svg') no-repeat center center;
    mask: url('icons/draft/wyvern-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}
