:root {
    --icon-color: currentColor; /* This will make icons inherit text color */
}

@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
}

.dnd-dev::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/draft/chest-svgrepo-com.svg') no-repeat center center;
    mask: url('dnd-icons/draft/chest-svgrepo-com.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-d20::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/d20.svg') no-repeat center center;
    mask: url('dnd-icons/d20.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-badge::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/badge.svg') no-repeat center center;
    mask: url('dnd-icons/badge.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-banner::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/banner.svg') no-repeat center center;
    mask: url('dnd-icons/banner.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-castel::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/castel.svg') no-repeat center center;
    mask: url('dnd-icons/castel.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-large-castel::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/large-castel.svg') no-repeat center center;
    mask: url('dnd-icons/large-castel.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-chest::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/chest.svg') no-repeat center center;
    mask: url('dnd-icons/chest.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-crown::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/crown.svg') no-repeat center center;
    mask: url('dnd-icons/crown.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-danger::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/danger.svg') no-repeat center center;
    mask: url('dnd-icons/danger.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-diamond::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/diamond.svg') no-repeat center center;
    mask: url('dnd-icons/diamond.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-diamond-ring::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/diamond-ring.svg') no-repeat center center;
    mask: url('dnd-icons/diamond-ring.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-key::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/key.svg') no-repeat center center;
    mask: url('dnd-icons/key.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-key2::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/key2.svg') no-repeat center center;
    mask: url('dnd-icons/key2.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-pirate::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/pirate.svg') no-repeat center center;
    mask: url('dnd-icons/pirate.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-ring::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/ring.svg') no-repeat center center;
    mask: url('dnd-icons/ring.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-spell-book::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/spell-book.svg') no-repeat center center;
    mask: url('dnd-icons/spell-book.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-tent::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/tent.svg') no-repeat center center;
    mask: url('dnd-icons/tent.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-tower::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/tower.svg') no-repeat center center;
    mask: url('dnd-icons/tower.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-attack::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-attack.svg') no-repeat center center;
    mask: url('dnd-icons/action-attack.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-rest::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-rest.svg') no-repeat center center;
    mask: url('dnd-icons/action-rest.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-run::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-run.svg') no-repeat center center;
    mask: url('dnd-icons/action-run.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-fight::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-fight.svg') no-repeat center center;
    mask: url('dnd-icons/action-fight.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-unarmed-strike::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-unarmed-strike.svg') no-repeat center center;
    mask: url('dnd-icons/action-unarmed-strike.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-hide::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-hide.svg') no-repeat center center;
    mask: url('dnd-icons/action-hide.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-move::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-move.svg') no-repeat center center;
    mask: url('dnd-icons/action-move.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-climb::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-climb.svg') no-repeat center center;
    mask: url('dnd-icons/action-climb.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-action-prepare-spell::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/action-prepare-spell.svg') no-repeat center center;
    mask: url('dnd-icons/action-prepare-spell.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-weapon::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/weapon.svg') no-repeat center center;
    mask: url('dnd-icons/weapon.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-weapon-arrows::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/weapon-arrows.svg') no-repeat center center;
    mask: url('dnd-icons/weapon-arrows.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-weapon-sword::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/weapon-sword.svg') no-repeat center center;
    mask: url('dnd-icons/weapon-sword.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-weapon-bow::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/weapon-bow.svg') no-repeat center center;
    mask: url('dnd-icons/weapon-bow.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor.svg') no-repeat center center;
    mask: url('dnd-icons/armor.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor-plate::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor-plate.svg') no-repeat center center;
    mask: url('dnd-icons/armor-plate.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor-shield::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor-shield.svg') no-repeat center center;
    mask: url('dnd-icons/armor-shield.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor-round-shield::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor-round-shield.svg') no-repeat center center;
    mask: url('dnd-icons/armor-round-shield.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor-helmet::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor-helmet.svg') no-repeat center center;
    mask: url('dnd-icons/armor-helmet.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor-helmet-large::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor-helmet-large.svg') no-repeat center center;
    mask: url('dnd-icons/armor-helmet-large.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor-helmet-plume::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor-helmet-plume.svg') no-repeat center center;
    mask: url('dnd-icons/armor-helmet-plume.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-armor-spartan::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/armor-spartan.svg') no-repeat center center;
    mask: url('dnd-icons/armor-spartan.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-class-wizard::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/class-wizard.svg') no-repeat center center;
    mask: url('dnd-icons/class-wizard.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-class-barbarian::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/class-barbarian.svg') no-repeat center center;
    mask: url('dnd-icons/class-barbarian.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-class-bard::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/class-bard.svg') no-repeat center center;
    mask: url('dnd-icons/class-bard.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-class-rogue::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/class-rogue.svg') no-repeat center center;
    mask: url('dnd-icons/class-rogue.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}

.dnd-class-sorcerer::before {
    content: "";
    font-size: inherit;
    height: 1em;
    width: 1em;
    display: inline-block;
    background: currentColor;
    -webkit-mask: url('dnd-icons/class-sorcerer.svg') no-repeat center center;
    mask: url('dnd-icons/class-sorcerer.svg') no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: -0.125em;
}
