/******** Font layout/Berenika.ttf ********/
@font-face {
    font-family: 'Berenika';
    src: url('fonts/layout/Berenika.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text-berenika {
    font-family: 'Berenika', serif;
    font-size-adjust: 0.45;
}

/******** Font special/Glagolitsa.ttf ********/
@font-face {
    font-family: 'Glagolitsa';
    src: url('fonts/special/Glagolitsa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text-glagolitsa {
    font-family: 'Glagolitsa', serif;
    /* font-size-adjust: 0.45; */
}

/******** Font special/GreifswalderTengwar.ttf ********/
@font-face {
    font-family: 'GreifswalderTengwar';
    src: url('fonts/special/GreifswalderTengwar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text-greifswaldertengwar {
    font-family: 'GreifswalderTengwar', serif;
    font-size-adjust: 0.8;
}

/******** Font special/TengwarEldamar.ttf ********/
@font-face {
    font-family: 'TengwarEldamar';
    src: url('fonts/special/TengwarEldamar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text-tengwareldamar {
    font-family: 'TengwarEldamar', serif;
    /* font-size-adjust: 0.45; */
}
